@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Mono&subset=latin,latin-ext);
html {
    background: #dedecb;
    font-size:100%;
}
body {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'PT Serif', serif;
    font-size:1em;
}
.home {
    width: 30%;
    height: auto;
    max-height: 30%;
    border: 1px solid #000;
    background: #fff;
    margin: 0.95em 0 0.95em 0;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11em;
}
.header-home {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.wrapper {
    width: 50%;
    height: auto;
    border: 1px solid #000;
    background: #fff;
    margin: 0.95em 0 0.95em 0;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.article, .post-list, .project-list {
    padding: 0.625em 5em 1.25em;
    font-size: 0.85em;
}
.post-list ul, .project-list ul {
    list-style-type: none;
    padding-left: 0;
}
.post-list li {
    margin-bottom: 0.563em;
    border: 1px solid RGBA(0, 0, 0, 0.42);
    padding: 0.125em 0.625em 0.125em;
    border-left: 5px solid #000;
}
.post-list li:hover, .project-list li:hover {
    background: #dedecb;
}
.post-list li a, .project-list li a {
    text-decoration: none;
}
.project-list li {
    margin-bottom: 0.563em;
    border: 1px solid RGBA(0, 0, 0, 0.42);
    padding: 0.125em 0.625em 0.125em;
    border-left: 5px solid #cb6077;
}
.title {
    font-size: 0.9em;
    margin: 1.875em auto -0.625em auto;
    text-align: center;
    width: 60%;
    height: auto;
}
.title > h1 {
    margin-bottom: 0;
}
.title > h4 {
    margin-top: 0.5em;
}
.title-home {
    margin-bottom: 0;
    font-size: 1.7em;
}
.description-home {
    font-size: 1.063em;
}
.nav {
    display: block;
    position: relative;
    top: 0.625em;
    width: 50%;
    height: 2.5em;
    line-height: 2.5em;
    border: 1px solid #000;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 0.85em;
}
.nav > .list {
    padding: 0 0.813em 0;
    list-style: none;
    margin: 0;
}
.nav > .list > .item {
    display: inline-block;
    font-weight: bold;
    transition: all .3s;
}
.nav > .list > .item:hover {
    background-color: #000;
}
.nav > .list > .item > .link {
    display: inline-block;
    padding: 0 0.625em 0;
    color: #000000;
    text-decoration: none;
}
.nav > .list > .item > .link:visited {
    color: #3b3228;
    text-decoration: none;
}
.nav > .list > .item > .link:hover {
    color: #fff;
    text-decoration: none;
}
.nav-home {
    display: block;
    position: relative;
    top: 12.5em;
    width: 30%;
    height: 2.5em;
    line-height: 2.5em;
    border: 1px solid #000;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 0.85em;
}
.nav-home > .list {
    padding: 0 0.813em 0;
    list-style: none;
    margin: 0;
}
.nav-home > .list > .item {
    display: inline-block;
    font-weight: bold;
    transition: all .3s;
}
.nav-home > .list > .item:hover {
    background-color: #000;
}
.nav-home > .list > .item > .link {
    display: inline-block;
    padding: 0 0.625em 0;
    color: #000000;
    text-decoration: none;
}
.nav-home > .list > .item > .link:visited {
    color: #3b3228;
    text-decoration: none;
}
.nav-home > .list > .item > .link:hover {
    color: #fff;
    text-decoration: none;
}
.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    border: 1px solid #000;
    padding: 0.25em;
    width: 6.875em !important;
}
.social-links {
    position: relative;
    bottom: -1.1em;
    font-size: 0.85em;
}
.author-social {
    border: 1px solid #000;
    padding: 0.7em;
    margin: 0 0.625em 0;
    text-decoration: none;
    color: #fff !important;
    background: #000;
    transition: all .3s;
}
.author-social:hover {
	background: #fff;
	color: #000 !important;
	border: 1px solid #000;
}
.footer {
    display: block;
    position: relative;
    bottom: 0.625em;
    width: 50%;
    height: 2.5em;
    line-height: 2.5em;
    border: 1px solid #000;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    color: #3b3228;
}
.footer a {
    color: #3b3228;
    opacity: .7;
}
.footer a:hover {
    color: #cb6077;
    opacity: .9;
}
.home-footer {
    display: block;
    position: relative;
    bottom: 0.625em;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    border: 1px solid #000;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    top: 3.125em;
    font-size: 0.85em;
    font-weight: bold;
    color: #3b3228;
}
.home-footer a {
    color: #3b3228;
    opacity: .7;
}
.home-footer a:hover {
    color: #cb6077;
    opacity: .7;
}
.footnote {
    font-size: 0.875em;
}
a {
	text-decoration:none;
	color:#343434
}
a:visited {
	color:#4e4e4e
}
a:hover {
	color:#1b1b1b
}
a:focus {
	outline:thin dotted;
	color:#343434
}
a:hover,a:active {
	outline:0
}
figcaption {
	padding-top: 0;
	font-size:14px;
	font-size:.875rem;
	line-height:1.8571;
	line-height:1.3;
	color:#4d4d4b
}
p {
    margin: 0 0 1em;
    line-height: 1.6;
}
hr {
    margin: 1.563em 0 1.563em;
    color: #f5f5f5;
}
pre {
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre;
    font-family: 'PT Mono' !important;
}
code {
    font-family: 'PT Mono' !important;
    font-size: 0.75rem;
}
p code, li code {
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.5;
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 0px;
    background-color: #efefef;
    border-radius: 3px;
}
.gist-file {
    border: 1px solid #000 !important;
    border-radius: 0 !important;
}
blockquote {
    padding: 0 0.688em;
    border-left: 5px solid #8ab3b5;
    line-height: 1.563em;
    font-style: italic;
}
iframe {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    width: 100%;
}
.wrapper img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 1.25em auto 1.25em auto;
}
.half img {
    display: inline;
    float: left;
    width: 50%;
}
.third img {
    display: inline;
    float: left;
    width: 33.33333%;
}
.post-list a:link, .post-list a:visited, .project-list a:link, .project-list a:visited {
    color: #000000;
    text-decoration: none;
}
.post-list a:hover, .post-list a:active, .project-list a:hover, .project-list a:active {
    color: #cb6077;
    text-decoration: none;
}

/* Screen Sizes */
@media only screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
  .article {
    padding: 0.625em 1.25em 1.25em;
  }
  .nav {
    width: 90%;
  }
  .footer {
    width: 90%;
  }
  .home {
    width: 80%;
  }
  .nav-home {
    width: 80%;
  }
  .author-social {
    padding: 0.375em 0.313em 0.375em;
    margin: 0 0.188em 0;
    font-size: 0.625em;
  }
  .toc {
    background: #dedecb;
    margin-bottom: 2em;
    border: 1px solid #000;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1050px) {
  .wrapper {
    width: 65%;
  }
  .article {
    padding: 0.625em 2.5em 1.25em;
  }
  .nav {
    width: 65%;
  }
  .footer {
    width: 65%;
  }
  .home {
    width: 55%;
  }
  .nav-home {
    width: 55%;
  }
  .author-social {
    padding: 0.375em 0.625em 0.375em;
    margin: 0 0.375em 0;
    font-size: 0.688em;
  }
  .toc {
    background: #dedecb;
    margin-bottom: 2em;
    border: 1px solid #000;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1300px) {
  .home {
    width: 45%;
  }
  .nav-home {
    width: 45%;
  }
  .author-social {
    padding: 0.375em 0.625em 0.375em;
    margin: 0 0.375em 0;
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1800px) {
  .home {
    width: 35%;
  }
  .nav-home {
    width: 35%;
  }
  .author-social {
    padding: 0.375em 0.625em 0.375em;
    margin: 0 0.375em 0;
    font-size: 0.813em;
  }
}
@media only screen and (min-width: 1050px) {
  .toc {
    display: block;
    display: inline;
    float: left;
    width: 25%;
    margin-left: 4.16667%;
    margin-right: 4.16667%;
    position: absolute;
    top: 0em;
    left: calc(100% - 1em);
    background-color: #fff;
    font-size: 95%;
    border: 1px solid #000;
  }
}
.goup-container {
    border: 1px solid #000;
}
.toc h3 {
    margin: 0;
    padding: 0.375em 0.625em;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
}
.toc ul {
    margin: 2px 0 0;
    padding: 0;
    line-height: 1;
}
.toc li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid;
}
.toc li ul li a {
    padding-left: 1.2em;
}
.toc li a {
    padding: 0.625em;
    display: block;
    color: #000 !important;
    text-decoration: none;
    background: #fff;
    opacity: .7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.toc li a:hover {
	opacity: 1;
	background: #dedecb;
}
#drawer {
	max-height: 100%;
	overflow: hidden;
}
.btn {
  display: inline-block;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  text-decoration: none !important;
}
.btn:hover {
    background-color: #f5f5f5 !important;
    color: #222222 !important;
    border: 1px solid #cb6077 !important;
  }
.notice {
    margin-top: 1.5em;
    padding: .5em 1em;
    text-indent: 0;
    font-size: 14px;
    font-size: .875rem;
    background-color: #fff;
    border: 1px solid #000;
}
